// @import url('https://fonts.googleapis.com/css2?family=Geologica:wght,CRSV@100..900,0&family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&family=M+PLUS+1p:wght@300;400;500;700&family=Metamorphous&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Roboto:wght@100&display=swap');

// $font-decorative: 'Metamorphous', serif;
$font-decorative: 'Roboto';

@mixin metamorphous-regular($size: 35px) {
  font-family: $font-decorative;
  font-weight: 900;
  font-style: normal;
  font-size: $size;
}
