.container {
    display: flex;
    width: 96%;
    flex-wrap: wrap;

    align-content: flex-start;
    min-height: 1017px;
    height: fit-content;
    background-color: $beige-soft;
    border-radius: 20px;
    gap: 29px;
    padding: 25px 49px 58px 49px;

    &_admin {
        background-color: $beige-soft;
        min-width: 1531px;
        margin: 0;
        padding-top: 25px;
        padding-bottom: 58px;
        padding-left: 65px;
        gap: 85px;
    }
}

.loading {
    color: $beige-background;
}

.error {
    color: $color-error;
}

.info {
    display: flex;
}
