.main {
    position: relative;
    width: 100%;
    background-color: $beige-background;
    text-align: left;
    max-width: 1920px;

    &_title {
        position: absolute;
        width: fit-content;
        top: 29.3%;
        left: 160px;
        font-size: 100px;
        color: $brown-color;
        left: 13.5%;
        transform: rotate(-4.75deg);
        z-index: 1;
    }

    &_paperImg {
        object-fit: cover;
        display: block;
        width: 100%;
        max-width: 1920px;

        @media (min-width: 1853px) {
            margin-top: -80px;
        }

        @media (max-width: 1852px) {
            margin-top: -70px;
        }

        @media (max-width: 1550px) {
            margin-top: -40px;
        }

        @media (max-width: 950px) {
            margin-top: -20px;
        }

        @media (max-width: 489px) {
            margin-top: 0px;
        }
    }

    &_photoImg {
        position: absolute;
        left: 50.8%;
        bottom: 0;
        transform: translate(-47%, 0);
        width: 69.3%;
        z-index: 1;
    }
}

.history {
    position: relative;
    display: flex;
    background-color: $brown-color;
    height: 67vw;
    max-height: 1300px;
    color: $white-text;
    text-align: left;
    max-width: 1920px;

    @media (max-width: 1000px) {
        height: fit-content;
        min-height: 982px;
        padding-bottom: 0 !important;
    }

    @media (max-width: 1500px) {
        height: fit-content;
    }

    &_source {
        position: relative;
    }

    &_subtitle {

        &__firstLine,
        &__secondLine {
            font-weight: 200;
            text-align: left;
            font-size: 80px;
            color: $beige-background;
            text-transform: uppercase;

            @media (max-width: 1000px) {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0;
                margin: 0;
                width: 100%;
            }
        }

        &__firstLine {
            padding-left: 64.5px;
            margin-top: 135px;

            @media (max-width: 1000px) {
                margin-left: -50px;
                margin-top: 91px;
            }
        }

        &__secondLine {
            padding-left: 290px;
            margin-top: 20px;
        }
    }

    &_description {

        &__firstLine,
        &__secondLine {
            font-size: 35px;
            font-weight: 400;
            text-align: left;
            color: $beige-background;
            line-height: 125%;
            letter-spacing: 1.6px;
        }

        &__firstLine {
            margin-top: 60px;
            margin-left: 2px;
            margin-left: 67px;
        }

        &__secondLine {
            margin-top: 41px;
            margin-left: 155px;
        }
    }

    &_map {
        position: absolute;
        width: 54%;
        height: auto;
        right: 0;
        top: 40%;
        transform: translate(0, -50%);
        z-index: 1;

        @media (max-width: 1000px) {
            display: none;
        }
    }

    &_mapMobile {
        display: none;
    }

    &_imageHistory {
        position: absolute;
        z-index: 2;
        left: 908px;
        top: 340px;
    }

    &_arrow {
        position: absolute;
        top: 605px;
        left: 1175px;
        z-index: 1;
    }

    &_curlHistory {
        position: absolute;
        bottom: 15px;
        z-index: 0;
        pointer-events: none;
    }

    &_curlMobile {
        display: none;
    }

    &_curlHistoryTop {
        position: absolute;
        right: 0;
        top: 90px;
    }

    @include respond-below(1000px) {
        &_mapMobile {
            width: 80%;
            height: auto;
            right: 0;
            bottom: 0;
            display: block;
            order: 2;
            z-index: 1;
            margin-right: -30px;

            &_container {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                width: 100%;
                margin-top: 45px;
            }
        }

        &_imageHistory {
            position: relative;
            left: auto;
            top: auto;
            z-index: 2;
            display: block;
            width: clamp(110px, 33%, 320px);
            height: auto;
            margin: clamp(24px, 3vw, 48px) 0 0 clamp(8px, 6vw, 60px);
            order: 1;
        }
    }

    @include respond-below(1550px) {
        min-height: auto;
        flex-direction: column;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 15vw;

        &_subtitle {

            &__firstLine,
            &__secondLine {
                font-size: clamp(28px, 4.8vw, 80px);
                padding-left: 0;
            }

            &__secondLine {
                margin-top: clamp(8px, 0.8vw, 15px);
            }
        }

        &_description {

            &__firstLine,
            &__secondLine {
                font-size: clamp(16px, 2.1vw, 35px);
                letter-spacing: clamp(0.3px, 0.08vw, 1.6px);
                margin-top: clamp(20px, 2.1vw, 40px);
                padding-left: 0;
            }
        }

        &_map {
            width: 50%;
        }

        &_arrow,
        &_curlHistoryTop {
            display: none;
        }

        &_curlHistory {
            display: none;
        }

        &_container {
            position: relative;
            z-index: 1;

            @media (max-width: 1000px) {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0;
                margin: 0;
                width: 100%;
            }
        }

        &_curlMobile {
            display: block;
            position: relative;
            width: calc(100% + 60px);
            max-width: none;
            height: auto;
            margin-top: -40vw;
            margin-bottom: calc(16px - (348 / 375 - 0.4) * 100vw);
            margin-left: -30px;
            order: 1;
            z-index: 0;
            pointer-events: none;
        }
    }

    @include respond-below($breakpoint-md) {
        min-height: auto;
        flex-direction: column;

        &_subtitle {
            gap: 8px;

            &__firstLine,
            &__secondLine {
                font-size: 28px;

                @media(max-width: 1000px) {
                    font-size: 36px !important;
                }
            }

            &__firstLine {
                padding-left: 0;
            }

            &__secondLine {
                padding-left: 0;
                margin-top: 8px;

            }
        }

        &_description {

            &__firstLine,
            &__secondLine {
                font-size: 16px;
                letter-spacing: 0.3px;
                margin-top: 20px;

                br {
                    display: none;
                }
            }

            &__firstLine {
                padding-left: 0;
            }

            &__secondLine {
                padding-left: 0;
            }
        }

        &_imageHistory {
            width: 125px;
            margin: 24px 0 0 8px;
        }

        &_map {
            display: none;
        }

        &_mapMobile {
            max-width: none;
            width: calc(100% + 60px);
        }
    }
}

.about {
    position: relative;
    min-height: 1760px;
    height: fit-content;
    background-color: $green-color;
    text-align: left;
    max-width: 1920px;

    &_subtitle {
        display: flex;
        flex-direction: column;
        padding-top: 130px;
        margin-right: 40px;
        gap: 4px;

        @media (max-width: 1000px) {
            width: 100%;
        }

        &__firstLine,
        &__secondLine {
            font-weight: 200;
            text-align: right;
            font-size: 80px;
            color: $beige-background;
            text-transform: uppercase;

            @media(max-width: 1000px) {
                font-size: 36px !important;
            }

            &_center {
                @media (max-width: 1000px) {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                }

                @media (max-width: 500px) {
                    justify-content: flex-end;
                }
            }

            &_left {
                @media (max-width: 1000px) {
                    display: flex;
                    justify-content: flex-end;
                    width: 100%;
                }

                @media (max-width: 500px) {
                    display: none;
                }
            }

            &_mobile {
                @media (min-width: 501px) {
                    display: none;
                }
            }
        }

        &__secondLine {
            margin-right: 15px;
        }
    }

    &_description {
        position: absolute;
        top: 200px;
        left: 73px;
        text-align: left;
        font-size: 35px;
        font-weight: 400;
        color: $beige-background;
        line-height: 125%;
        letter-spacing: 1.6px;

        @media (max-width: 1000px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0;
            margin: 0;
            width: 100%;
        }
    }

    &_line1,
    &_line2,
    &_line3,
    &_line4,
    &_line5 {
        display: none;
    }

    &_photo1,
    &_photo2,
    &_photo3,
    &_photo4,
    &_photo5 {
        display: none;
    }

    &_photoStack {
        display: block;
        position: relative;
        z-index: 2;
        width: 90%;
        height: auto;
        left: 50%;
        transform: translate(-50%);

        @media (max-width: 1000px) {
            margin-top: -100px;
        }
    }

    &_curl {
        position: absolute;
        bottom: 0;
        right: 0;
        max-width: 100%;
        height: auto;
        z-index: 1;
        pointer-events: none;
    }

    @include respond-below($breakpoint-xxxl) {
        height: auto;
        min-height: 1760px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &_subtitle {
            padding-top: clamp(48px, 6.8vw, 130px);
            align-self: flex-end;
            margin-right: clamp(16px, 2.1vw, 40px);

            &__firstLine,
            &__secondLine {
                font-size: clamp(28px, 4.8vw, 80px);
            }
        }

        &_description {
            position: relative;
            top: auto;
            left: auto;
            align-self: flex-start;
            font-size: clamp(16px, 2.1vw, 35px);
            letter-spacing: clamp(0.3px, 0.08vw, 1.6px);
            max-width: 90%;
        }

        &_line1,
        &_line2,
        &_line3,
        &_line4,
        &_line5 {
            display: none;
        }
    }

    @include respond-below($breakpoint-lg) {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 80px;

        &_subtitle {
            margin-right: 0;
        }

        &_description {
            align-self: stretch;
            margin-left: 0;
            max-width: 100%;
        }
    }

    @include respond-below($breakpoint-md) {
        height: auto;
        min-height: auto;
        padding: 60px 30px 40px;
        display: flex;
        flex-direction: column;

        &_subtitle {
            padding-top: 0;
            margin-right: 0;
            align-items: flex-end;

            &__firstLine,
            &__secondLine {
                font-size: 28px;
                text-align: right;
            }

            &__secondLine {
                margin-right: 0;
            }
        }

        &_description {
            position: relative;
            top: auto;
            margin-top: 24px;
            font-size: 16px;
            letter-spacing: 0.3px;

            br {
                display: none;
            }
        }

        &_line1,
        &_line2,
        &_line3,
        &_line4,
        &_line5 {
            display: none;
        }

        &_photo1,
        &_photo2,
        &_photo3,
        &_photo4,
        &_photo5 {
            display: none;
        }

        &_photoStack {
            display: block;
            width: 100%;
            height: auto;
            margin: 24px auto 0;
        }
    }
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: $beige-background;
    height: 1258px;
    text-align: left;

    max-width: 1920px;

    &_title,
    &_titleForm {
        width: 96%;
        box-sizing: border-box;
        padding-left: 49px;
        margin-top: 75px;
        color: $brown-color;
        font-weight: 200;
        text-align: left;
        font-size: 80px;
        text-transform: uppercase;
    }

    &_title {
        text-align: right;
    }

    &_titleForm {
        @media(max-width: 1000px) {
            display: none;
        }

        &_mobile {

            &_container {
                display: flex;
                flex-direction: column;
                width: 100%;
            }

            @media(min-width: 1000px) {
                display: none;
            }

            @media(max-width: 1000px) {
                width: 170px;
                box-sizing: border-box;
                padding-left: 40px;
                margin-top: 75px;
                color: $brown-color;
                font-weight: 200;
                text-align: left;
                text-transform: uppercase;

                font-size: 36px !important;

            }
        }
    }

    @include respond-below($breakpoint-xxxl) {
        height: auto;
        min-height: 1258px;
        padding-bottom: 40px;
    }

    @include respond-below($breakpoint-xxxl) {

        &_title,
        &_titleForm {
            font-size: clamp(40px, 4.2vw, 80px);
            margin-top: clamp(32px, 3.9vw, 75px);
            padding-left: clamp(16px, 2.55vw, 49px);
        }
    }

    @include respond-below($breakpoint-md) {
        min-height: auto;
        padding-bottom: 40px;

        &_title,
        &_titleForm {
            width: 100%;
            padding-left: 16px;
            padding-right: 16px;
            margin-top: 24px;
            font-size: 32px;
            line-height: 1.1;
        }
    }
}

.divide {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
    z-index: 5;
    max-width: 1920px;

    &_1 {
        position: absolute;
        top: -80px;
        z-index: 100;
        width: 100%;
        left: 0;
        right: 0;
        max-width: 1920px;
    }

    &_2 {
        position: absolute;
        top: -100px;
        z-index: 100;
        width: 100%;
        left: 0;
    }

    &_3 {
        position: absolute;
        top: -90px;
        z-index: 100;
        width: 100%;
        left: 0;
        right: 0;
    }

    @include respond-below($breakpoint-md) {
        margin-top: calc(-176px / 750px * 100vw / 2);
        margin-bottom: calc(-176px / 750px * 100vw / 2);
    }
}
