@use "../../../assets/scss/mixins" as *;
@use "../../../assets/scss/_typography.scss" as *;
@use "../../../assets/scss/_variables-color.scss" as *;

.main {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 1008px;
    // max-height: fit-content;
    background-color: $beige-background;
    position: relative;
    max-width: 1920px;

    &_title {
        position: absolute;
        width: fit-content;
        top: 29.3%;
        left: 160px;
        font-size: 100px;
        color: $brown-color;
        left: 13.5%;
        transform: rotate(-4.75deg);
        z-index: 1;
    }

    &_paperImg {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    &_photoImg {
        position: absolute;
        left: 50.8%;
        bottom: 0;
        transform: translate(-47%, 0);
        width: 69.3%;
        z-index: 1;
    }

    &_devidigLine {
        position: absolute;
        width: 100%;
        bottom: -150px;
        z-index: 5;
    }
}

.history {
    position: relative;
    display: flex;
    background-color: $brown-color;
    height: 1295px;
    color: $white-text;
    padding-top: 110px;
    overflow: hidden;

    &_subtitle {

        &__firstLine,
        &__secondLine {
            font-weight: 200;
            text-align: left;
            font-size: 80px;
            color: $beige-background;
            text-transform: uppercase;
        }

        &__firstLine {
            padding-left: 64.5px;
        }

        &__secondLine {
            padding-left: 290px;
            margin-top: 15px;
        }

    }

    &_description {

        &__firstLine,
        &__secondLine {
            // поменять размер шрифта на 35px когда будет норм шрифт с весом
            font-size: 35px;
            font-weight: 400;
            text-align: left;
            color: $beige-background;
            line-height: 125%;
            letter-spacing: 1.6px;
        }

        &__firstLine {
            padding-left: 67.5px;
            margin-top: 40px;
        }

        &__secondLine {
            padding-left: 157px;
            margin-top: 41px;
        }
    }

    &_map {
        position: absolute;
        max-width: 54%;
        height: 88%;
        right: -10px;
        bottom: 110px;
    }

    &_imageHistory {
        position: absolute;
        z-index: 2;
        left: 908px;
        top: 340px;
    }

    &_devidigLineHisory {
        position: absolute;
        width: 100%;
        top: 2170px;
        // bottom: -146px;
        left: 0;
        right: 0;
        z-index: 5;
    }

    &_arrow {
        position: absolute;
        top: 605px;
        left: 1175px;
        z-index: 1;
    }

    &_curlHistory {
        position: absolute;
        bottom: 15px;
    }

    &_curlHistoryTop {
        position: absolute;
        right: -15px;
        top: 90px;
    }
}

.about {
    position: relative;
    height: 1760px;
    background-color: $green-color;
    overflow: hidden;

    &_subtitle {
        display: flex;
        flex-direction: column;
        // position: absolute;
        padding-top: 130px;
        margin-right: 40px;
        gap: 4px;


        &__firstLine,
        &__secondLine {
            font-weight: 200;
            text-align: right;
            font-size: 80px;
            color: $beige-background;
            text-transform: uppercase;
            // margin-right: 40px;
            // width: fit-content;

        }

        &__firstLine {
            // padding-left: 64.5px;
            // margin-top: 150px;
        }

        &__secondLine {
            // padding-left: 290px;
            margin-right: 15px;
            // padding-right: 10px;

        }
    }

    &_description {
        position: absolute;
        top: 200px;
        left: 73px;
        text-align: left;
        font-size: 35px;
        font-weight: 400;
        // text-align: left;
        color: $beige-background;
        line-height: 125%;
        letter-spacing: 1.6px;
    }

    &_line1,
    &_line2,
    &_line3,
    &_line4,
    &_line5 {
        position: absolute;
    }

    &_line1 {
        top: 345px;
        left: 315px;
    }

    &_line3 {
        top: 350px;
        left: 967px;
    }

    &_line2 {
        top: 350px;
        left: 640px;
    }

    &_line5 {
        top: 350px;
        left: 1017px;
    }

    &_line4 {
        top: 350px;
        left: 1639px;
    }

    &_photo1,
    &_photo2,
    &_photo3,
    &_photo4,
    &_photo5 {
        position: absolute;

    }

    &_photo1 {
        left: 18px;
        top: 540px;
        z-index: 1;
    }

    &_photo2 {
                left: 545px;
        top: 557px;
        z-index: 2;
    }

    &_photo3 {
        left: 1315px;
        top: 477px;
        z-index: 2;
    }

        &_photo4 {
        left: 245px;
        top: 1077px;
        z-index: 1;
    }

    &_photo5 {
                left: 875px;
        top: 960px;
        z-index: 1;
    }

    &_curl {
        position: absolute;
        bottom: 15px;
        right: -15px;
    }

    &_devide {
        position: absolute;
        // bottom: -165px;
        top: 3950px;
        left: 0;
        right: 0;
        width: 100%;
    }
}
