.heroDetailPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 30px 74px 30px;
    width: 100%;
    color: $beige-light;
    position: relative;
    background-color: #f1e6d0;

    h1 {
        font-family: $font-display;
        font-size: 80px;
        text-transform: uppercase;
        color: $white-text;
        width: 100%;

        text-align: left;

        @media (max-width: 1718px) {
            font-size: 70px;
        }
    }

    h2 {
        font-family: $font-display;
        font-size: 60px;

        color: $white-text;
        width: 100%;
        text-align: left;
    }

    &_noPhoto {
        .heroDetailPage__wrapper {
            background-color: $green-color;
        }
    }

    &__pathContainer {
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 1760px;

        h3 {
            margin: 22px 0 49px;
            font-size: 24px;
            font-weight: 400;
            text-align: left;
            color: #534035;
            width: 100%;
            max-width: 1500px;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1500px;
        background-color: $brown-color;
        border-radius: 40px;
        padding: 97px 58px 63px 58px;
    }

    &__heroContent {
        position: relative;
        display: flex;
        width: 100%;
        justify-content: flex-end;
        min-height: 1040px;

        &_noPhoto {
            display: flex;
            position: relative;
            margin-top: -20px;
            margin-bottom: 110px;
        }
    }

    &__columnWrapper {
        display: flex;
        width: fit-content;
        padding-left: 15px;

        &_noPhoto {
            display: flex;
            width: fit-content;
            padding-left: 15px;
            gap: 119px;

            @media (max-width: 800px) {
                flex-direction: column;
                padding: 0;
                gap: 30px;
                margin-bottom: -90px;
            }
        }
    }

    &__infoWrapper {
        display: flex;
        flex-direction: column;
        gap: 38px;
        width: 51%;
        font-weight: 400;

        @media (max-width: 1718px) {
            width: 48%;
        }

        @media (max-width: 1610px) {
            width: 40%;
        }

        @media (max-width: 1440px) {
            width: 45%;
        }

        &_noPhoto {
            display: flex;
            flex-direction: column;
            width: 100%;

            h1 {
                margin-bottom: 35px;
            }

            @media (max-width: 500px) {
                margin-top: 40px;
            }
        }
    }

    &__heroName {
        font-size: 64px;
        font-weight: 300;
        text-align: left;
        width: 100%;

        @media (max-width: 1718px) {
            font-size: 54px !important;
        }

        @media (max-width: 1395px) {
            font-size: 44px !important;
        }
    }

    &__column {
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        gap: 35px;

        &_noPhoto {
            display: flex;
            flex-direction: column;
            margin-top: 25px;
            gap: 35px;

            @media (max-width: 500px) {
                margin-top: 22px;
            }
        }
    }

    &__infoRow {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: fit-content;
    }

    &__infoLabel {
        font-size: 35px;
        font-weight: 300;
        width: 100%;
        text-align: left;
        line-height: 100%;
    }

    &__infoValue {
        width: 100%;
        text-align: left;
        font-size: 24px;
        font-weight: 300;
        line-height: 120%;
    }

    &__bgImage,
    &__bgPaper,
    &__heroImage {
        position: absolute;
        z-index: 2;
    }

    &__bgImage {
        top: 25px;
        left: -30px;
        max-width: 680px;
        width: 35vw;
    }

    &__bgPaper {
        z-index: 2;
        top: -60px;
        left: 55px;
        max-width: 556px;
        width: 29vw;
    }

    &__heroImage {
        top: 120px;
        left: 105px;
        max-width: 456px;
        width: 23.5vw;
        max-height: 550px;
        overflow: hidden;
        z-index: 3;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
            display: block;
        }
    }
}

.description {
    display: flex;
    flex-direction: column;
    gap: 51px;
    height: fit-content;

    &__box {
        background-color: $beige-background;
        background-color: $beige-light;
        min-height: 400px;
        max-height: fit-content;
        font-family: $font-base;
        font-weight: 400;
        font-size: 35px;
        line-height: 100%;
        letter-spacing: 0%;
        color: $colorblack-text;
        white-space: pre-wrap;
        word-wrap: break-word;
        padding: 87px 43px 43px 43px;
        text-align: left;
        border-radius: 40px;
        position: relative;
    }

    &__pin1,
    &__pin2,
    &__pin3,
    &__pin4 {
        position: absolute;
    }

    &__pin1 {
        top: 0;
        left: 60px;

        @media (max-width: 620px) {
            width: 30%;
            left: 40px;
        }
    }

    &__pin2 {
        top: 0;
        left: 360px;

        @media (max-width: 1011px) {
            display: none;
        }

        @media (max-width: 620px) {
            display: none;
        }
    }

    &__pin3 {
        top: 0;
        right: 360px;

        @media (max-width: 1011px) {
            display: none;
        }
    }

    &__pin4 {
        top: 0;
        right: 60px;

        @media (max-width: 620px) {
            width: 30%;
            right: 40px;
        }
    }
}

.gallery {
    margin-top: 80px;
    max-width: 1400px;
}

@media (max-width: 1764px) {
    .heroDetailPage {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 1463px) {
    .description {
        margin-top: 40px;
    }
}

@media (max-width: 1440px) {

    .description {
        height: fit-content;

        margin-top: 40px;
        gap: 30px;

        h2 {
            font-size: 62px !important;
            font-weight: 100 !important;
        }

        &__box {
            font-size: 20px;
            font-weight: 300;
            padding: 40px 15px;
            border-radius: 6px;
            height: fit-content;
        }
    }

    h1 {
        font-size: 52px !important;
    }

    .heroDetailPage {
        padding-right: 30px;
        padding-left: 30px;

        &__wrapper {
            padding: 100px 18px 25px;
            border-radius: 16px;
        }

        &__heroName {
            font-size: 28px !important;
            font-weight: 300;
        }

        &__infoLabel {
            font-size: 23px !important;
            font-weight: 300;
        }

        &__infoValue {
            font-size: 20px;
            font-weight: 300;
        }

        &__infoRow {
            gap: 10px;
        }

        &__bgImage {
            left: 20px;
        }

        &__heroContent {
            min-height: 0;
        }
    }
}

@media (max-width: 1180px) {

    .heroDetailPage {

        &__bgImage,
        &__bgPaper,
        &__heroImage {
            left: 50%;
            transform: translate(-50%);
        }

        &__bgImage {
            max-width: 680px;
            width: 100%;
        }

        &__bgPaper {
            max-width: 556px;
            width: 100%;
        }

        &__heroImage {
            max-width: 456px;
            width: 100%;
        }

        &__infoWrapper {
            margin-top: 900px;
            width: 100%;
        }
    }
}

@media (max-width: 600px) {
    .heroDetailPage {

        &__bgImage {
            top: 0px !important;
            width: 85vw;
        }

        &__bgPaper {
            width: 70vw;
        }

        &__heroImage {
            width: 60vw;
        }

        &__infoWrapper {
            margin-top: 113vw;
            width: 100%;
        }
    }
}

@media (max-width: 520px) {
    .heroDetailPage {

        &__heroImage {
            top: 70px;
        }
    }
}

@media (max-width: 500px) {
    .description {

        h2 {
            font-size: 33px !important;
        }
    }

    h1 {
        font-size: 33px !important;
    }
}

@media (max-width: 460px) {

    .heroDetailPage {

        &__heroContent {
            padding-top: 108vw;
        }

        &__infoWrapper {
            margin-top: 0;
        }
    }
}

@media (max-width: 375px) {
    .heroDetailPage {
        &__heroContent {
            gap: 10px;
        }

        &__bgPaper {
            top: -35px;
        }
    }
}
