@use "../../../assets/scss/_mixins.scss" as *;
@use "../../../assets/scss/_typography.scss" as *;
@use "../../../assets/scss/_variables-color.scss" as *;

.heroesPage {
    background-color: $beige-background;
}

.title,
.filter,
.imagedCards,
.textCards {
    width: 100%;
    max-width: 1756px;
}

.heroesPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100%;
    height: fit-content;
}

.title {
    display: flex;
    flex-direction: column;
    padding: 147px 0px 63px 0px;
    font-size: 24px;

    &__path {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

.filter {
    min-height: 302px;
    height: fit-content;
}

.imagedCards,
.textCards {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 32px;
    row-gap: 47px;
}

.imagedCards {
    margin-top: 57px;
}

.textCards {
    margin-top: 103px;
    margin-bottom: 47px;
}
