.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color-white, 0.1);
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.confirmPopup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    background: $beige;
    border-radius: 16px;
    max-width: 766px;
    margin-right: 30px;
    margin-left: 30px;
    flex-grow: 1;
    height: fit-content;
    padding: 68px 137px 77px 137px;
    box-shadow: 0 20px 35px -8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.2s ease-out;

    @media (max-width: 590px) {
            padding: 68px 30px;
        }

    &__title {
        font-family: $font-rubik;
        font-size: 32px !important;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: 0;
        color: $dark-text;
        text-align: center;
        margin-bottom: 74px;

        @media (max-width: 590px) {
            font-size: 30px !important;
            text-align: left;
        }
    }

    &__closeButton {
        position: absolute;
        top: 21px;
        right: 36px;
        background: none;
        border: none;
        cursor: pointer;
        transition: all 0.2s;
        z-index: 5;

        @media (max-width: 590px) {
            margin-right: -30px;
        }
    }

    &__buttons {
        display: flex;
        gap: 16px;
        justify-content: center;
        margin-top: 8px;

        @media (max-width: 590px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__editButton,
    &__publishButton {
        padding: 12px 24px;
        border-radius: 16px;
        cursor: pointer;
        transition: all 0.2s;
        min-width: 239px;
        justify-content: center;

        span {
            font-family: $font-base;
            font-size: 20px;
            font-weight: 600;
        }

        &:disabled {
            opacity: 0.6;
            cursor: not-allowed;
        }
    }

    &__editButton {
        background-color: transparent;
        border: 2px solid $brown-color;
        color: $gray-dark;
        padding: 10px;

        span {
            color: $brown-color;
        }
    }

    &__publishButton {
        background-color: $brown-color;
        border: none;
        color: white;

        span {
            color: $beige-background;
        }

    }

    &__vector110,
    &__vector111 {
        position: absolute;
    }

    &__vector110 {
        bottom: 0;
        left: 0;
    }

    &__vector111 {
        bottom: 0;
        right: 0;

        @media (max-width: 590px) {
            bottom: 20%;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.content {
    text-align: center;
}

.heroName {
    font-size: 16px;
    color: $gray;
    margin: 0 0 24px 0;
    font-weight: 500;
}
