.container {
    display: flex;
    align-items: center;
    background-color: $brown-color;
    max-width: 571px;
    height: fit-content;
    width: 100%;
    padding: 27px 25px;
    border-radius: 20px;
    gap: 15px;
    align-items: stretch;
}

.img {
    width: 210px;
    height: 261px;
    object-fit: cover;
    object-position: center center;
}

.text {
    font-family: $font-base;
    font-size: 22px;
    color: $beige-background;
    text-align: left;

    &_block {
        display: block;
    }
}

.infoWrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
}

.infoContainer,
.cardLink {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.buttonContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.button,
.deleteButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: transparent;
}

.deleteButton {
    width: 68px;
    height: 55px;
    border: 1px solid $beige-card;
    background-color: transparent;

    &:hover {
        background-color: rgba(255, 255, 255, 0.05);
    }
}

.button {
    background-color: $beige-card;
    padding: 12px 24px;
    height: 55px;
    width: 196px;
}

@media (max-width: 1676px) {
    .container {
        max-width: 500px;
    }

    .img {
        max-width: 190px;
    }

    .text {
        font-size: 20px;
    }

    .button,
    .deleteButton {

        width: fit-content !important;
    }
}

@media (max-width: 1599px) {
    .container {
        max-width: 317px;
        max-height: 170px;
        width: 100%;
        padding: 21px 10px;
        gap: 7px;
    }

    .infoWrapper {
        gap: 10px;

    }

    .infoContainer,
    .cardLink {
        gap: 10px;
    }

    .img {
        width: 103px;
        height: 128px;
    }

    .text {
        font-size: 14px;
    }

    .button {
        padding: 10px 14px;
        width: 133px;
        height: 38px;
        font-size: 14px;
        border-radius: 12px;
    }

    .deleteButton {
        height: 38px;
        padding: 8px 0px !important;
        width: 38px !important;
        border-radius: 12px;

        svg {
            width: 15px;
            height: 20px;
        }
    }
}
