.container {
    display: flex;
    align-items: center;
background-color: #534035;
width: 571px;
min-height: 315px;
height: fit-content;
padding: 27px 25px;
border-radius: 20px;
gap: 15px;
align-items: stretch;
}

.img {
    width: 210px;
    height: 261px;
    object-fit: cover;
         object-position: center center;
}

.text {
    font-family: "Roboto";
    font-size: 22px;
    color: #F1E6D0;
    text-align: left;

    &_block {
        display: block;
    }
}

.infoWrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
    align-items: flex-start;
justify-content: space-between;
}

.infoContainer,
.cardLink {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.buttonContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.button,
.deleteButton {
display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.deleteButton {


    width: 68px;
    height: 55px;
    border: 1px solid #F2E7D1;
}

.button {
background-color: #F2E7D1;
padding: 12px 24px;
height: 55px;
width: 196px;
}
