@use "../../assets/scss/_mixins.scss" as *;
@use "../../assets/scss/_typography.scss" as *;
@use "../../assets/scss/_variables-color.scss" as *;

.footer {
    display: grid;
    grid-template-columns: 136px auto 1fr auto 1fr;
    grid-template-rows: auto auto auto;
    background-color: $green-color;
    padding: 20px;
    text-align: center;
    margin-top: auto;
    line-height: 34px;
    color: $beige-background;
    gap: 30px;
    padding-top: 30px;
    padding-left: 23px;
    padding-right: 22px;
    padding-bottom: 30px;
}

.item11 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.item15 {
    grid-row: 1 / 2;
    grid-column: 5 / 6;
    text-align: right;
}

.item21 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.item22 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    text-align: left;
    font-size: 24px;
}

.item23 {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    text-align: left;
}

.tel {
    font-size: 25px;
}

.email {
    font-size: 20px;
}

.item24 {
    grid-row: 2 / 3;
    grid-column: 4 / 5;
    text-align: left;

    a {
        color: $beige-background;
    }
}

.agreement {
    font-size: 24px;
}

.confidence {
    font-size: 20px;
}

.item25 {
    grid-row: 2 / 3;
    grid-column: 5 / 6;
    text-align: left;

    &_wrapper {
        display: flex;
        align-items: center;
    }

    img {
        vertical-align: middle;
        margin: 0 8px;
    }
}

.logoSoyuz {
    width: 112px;
    height: 17px;
}

.xlSize {
    font-size: 25px;
}

.mSize {
    font-size: 20px;
}
