@font-face {
  font-family: 'Glanz';
  src: url('/fonts/Glanz.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Metamorphous';
  src: url('/fonts/Metamorphous.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tektur';
  src: url('/fonts/Tektur-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center; // это плохо, но оставлю (вдруг надо где-то)
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    display: block;
    font-size: 1em;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: normal;
    unicode-bidi: isolate;
}

p {
  margin: 0;
}
