:root {
  @media (max-width: 1024px) {}
}

@font-face {
  font-family: 'Glanz';
  src: url('/fonts/Glanz.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Metamorphous-Regular';
  src: url('/fonts/Metamorphous-Regular.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@media (prefers-color-scheme: dark) {
  :root {}
}

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    display: block;
    font-size: 1em;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: normal;
    unicode-bidi: isolate;
}

p {
  margin: 0;
}
